.blindtech {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.blindtech-wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.home {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 49px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs-5) var(--padding-5xl);
  background-color: var(--color-whitesmoke);
  box-shadow: var(--button-shadow);
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button:hover {
  background-color: #ded6d6;
}
.features {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 82px;
}
.button1,
.buttons {
  display: flex;
  align-items: flex-start;
}
.button1 {
  box-shadow: var(--button-shadow);
  border-radius: var(--br-2xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) var(--padding-6xs);
}
.buttons {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.module {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
}
.button2,
.buttons1 {
  display: flex;
  align-items: flex-start;
}
.button2 {
  box-shadow: var(--button-shadow);
  border-radius: var(--br-2xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) var(--padding-sm);
}
.buttons1 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.progress {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 86px;
}
.button3,
.buttons2 {
  display: flex;
  align-items: flex-start;
}
.button3 {
  box-shadow: var(--button-shadow);
  border-radius: var(--br-2xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) var(--padding-8xs);
}
.buttons2 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.content,
.loginregister {
  font-size: var(--small-text-size);
  text-align: left;
}
.content {
  width: 768px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 77px 0 0;
  box-sizing: border-box;
  gap: 101px;
  max-width: 100%;
  color: var(--color-gray-100);
}
.loginregister {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-whitesmoke);
}
.button4,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 17px;
  background-color: #f62727;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  justify-content: flex-start;
}
.button4:hover {
  background-color: #ff4d4d;
}
.frame-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: #679ef0;
  font-family: var(--small-text);
}
.empower-your-learning,
.introducing-our-virtual {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-family: inherit;
}
.empower-your-learning {
  align-self: stretch;
  font-weight: 700;
}
.introducing-our-virtual {
  width: 715px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.introducing-our-virtual-assist-wrapper {
  width: 991px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-3xl);
}
.navigation {
  width: 1016px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.navigation-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
  box-sizing: border-box;
}
.key-features-of,
.navigation-wrapper,
.user {
  display: flex;
  max-width: 100%;
}
.user {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 29px 81px 0;
  box-sizing: border-box;
  gap: 32px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--small-text);
}
.key-features-of {
  margin: 0;
  width: 698px;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.key-features-of-the-virtual-as-wrapper {
  width: 1396px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.voice-recognition {
  height: 33px;
  width: 44px;
  position: relative;
  display: none;
}
.voice-based-interaction {
  margin: 0;
}
.engage-with-the {
  margin: 0;
  font-weight: 600;
}
.voice-based-interaction-engage-container {
  height: 185px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.voice-recognition-icon {
  height: 39px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  top: 31px;
  left: 45px;
  object-fit: contain;
  z-index: 2;
}
.frame-wrapper,
.voice-based-interaction-engage-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.voice-based-interaction-engage-parent {
  flex: 1;
  position: relative;
}
.frame-wrapper {
  align-self: stretch;
  padding: 0 0 0 16px;
  box-sizing: border-box;
}
.speech-recognition {
  margin: 0;
}
.understand-user-command {
  margin: 0;
  font-weight: 600;
}
.speech-recognition-understand-container {
  height: 160px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.speech-bubble-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  left: 61px;
  object-fit: contain;
  z-index: 1;
}
.speech-recognition-understand-parent {
  width: 486px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.feature-list-inner,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.feature-list-inner {
  width: 502px;
  justify-content: flex-end;
  padding: 0 0 6px;
  box-sizing: border-box;
  min-width: 502px;
}
.gesture-recognition {
  margin: 0;
}
.navigate-through-lessons {
  margin: 0;
  font-weight: 600;
}
.gesture-recognition-navigate-container {
  height: 133px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.mayura-gesture-icon {
  height: 40px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 33px;
  object-fit: contain;
  z-index: 1;
}
.frame-div,
.gesture-recognition-navigate-t-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.gesture-recognition-navigate-t-parent {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.frame-div {
  width: 554px;
  justify-content: flex-end;
  padding: 0 64px;
  box-sizing: border-box;
}
.educational-modules {
  margin: 0;
}
.access-structured-lessons {
  margin: 0;
  font-weight: 600;
}
.educational-modules-access-container {
  height: 149px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.knowledge-transfer-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 99px;
  object-fit: contain;
  z-index: 1;
}
.frame-container,
.voice-description {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.voice-description {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.frame-container {
  width: 570px;
  flex-direction: column;
  align-items: flex-end;
  gap: 93px;
  min-width: 570px;
}
.feature-list,
.features-title {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.feature-list {
  background-color: #c5f8ef;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-12xs) var(--padding-44xl) var(--padding-sm) 55px;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.features-title {
  background-color: var(--color-paleturquoise-100);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) 0 69px;
  gap: 55px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--small-text);
}
.facebook-icon1 {
  width: 40px;
  height: 34px;
  position: absolute;
  margin: 0 !important;
  right: 11px;
  bottom: 10px;
  object-fit: contain;
}
.copyright-all-rights-reserved1 {
  align-self: stretch;
  height: 30px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.copyright-all-rights-reserved-wrapper {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.blindtech-all-rights1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 209px;
  max-width: 100%;
  margin-left: -7px;
}
.footer-content1,
.frame-parent1 {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
  row-gap: 20px;
}
.footer-content1 {
  margin-left: -1304px;
  width: 387px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 430%;
}
.instagram-icon1,
.twitter-icon1 {
  height: 34px;
  width: 40px;
  position: relative;
  object-fit: contain;
}
.instagram-icon1 {
  height: 36px;
  width: 36px;
  object-fit: cover;
  min-height: 36px;
}
.desktop-1,
.footer-content-group,
.twitter-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.twitter-parent {
  flex-direction: row;
  gap: 14px;
  flex-shrink: 0;
}
.desktop-1,
.footer-content-group {
  box-sizing: border-box;
}
.footer-content-group {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-44xl) 0 1287px;
  gap: 917px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--small-text);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 12px 0 var(--padding-5xs);
  gap: 44px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .feature-list-inner,
  .frame-container {
    flex: 1;
  }
  .feature-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-content-group {
    flex-wrap: wrap;
    gap: 458px;
    padding-left: 643px;
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .content {
    gap: 50px;
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .empower-your-learning {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .navigation {
    gap: var(--gap-2xl);
  }
  .user {
    gap: 16px;
  }
  .frame-group {
    gap: var(--gap-2xl);
  }
  .feature-list-inner {
    min-width: 100%;
  }
  .frame-div {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .frame-container {
    gap: 46px;
    min-width: 100%;
  }
  .feature-list {
    padding-left: 27px;
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .features-title {
    gap: 27px;
    padding-top: var(--padding-xl);
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .footer-content-group {
    gap: 229px;
    padding-left: 321px;
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .content {
    gap: var(--gap-6xl);
  }
  .empower-your-learning {
    font-size: var(--font-size-3xl);
    line-height: 32px;
  }
  .introducing-our-virtual {
    font-size: var(--font-size-lg);
    line-height: 26px;
  }
  .key-features-of {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .educational-modules-access-container,
  .gesture-recognition-navigate-container,
  .speech-recognition-understand-container,
  .voice-based-interaction-engage-container {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .frame-container {
    gap: 23px;
  }
  .blindtech-all-rights1 {
    margin-left: 0;
  }
  .footer-content-group {
    gap: 115px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}